h1 {
    color: rebeccapurple;
    background-color: burlywood;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 32px;
}

.highlightable {
    text-decoration: underline;
}

.odd {
    font-size: 1.3em;
}

.even {
    font-size: 0.8em;
}